@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.4s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
    position: absolute;
    top: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-bcc-green-50 shadow-inner;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-bcc-green-60;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-bcc-green-80;
}